In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

MINIO_ENDPOINT = "http://localhost:9000"
ACCESS_KEY = "minioadmin"
SECRET_KEY = "minioadmin"
MASTER_URL = "local[*]" 

spark = SparkSession.builder \
    .appName("MinioDataCheck") \
    .master(MASTER_URL) \
    .config("spark.hadoop.fs.s3a.endpoint", MINIO_ENDPOINT) \
    .config("spark.hadoop.fs.s3a.access.key", ACCESS_KEY) \
    .config("spark.hadoop.fs.s3a.secret.key", SECRET_KEY) \
    .config("spark.hadoop.fs.s3a.path.style.access", "true") \
    .config("spark.hadoop.fs.s3a.impl", "org.apache.hadoop.fs.s3a.S3AFileSystem") \
    .config("spark.hadoop.fs.s3a.connection.ssl.enabled", "false") \
    .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:3.3.4,com.amazonaws:aws-java-sdk-bundle:1.12.262") \
    .getOrCreate()


df = spark.read.parquet(TARGET_PATH)

# 3. INSPECTION
print(f"Total rows found: {df.count()}")
df.printSchema()

# Show the top 10 rows
df.show(10)

# Check the distribution across your partitions
df.groupBy("year", "month").count().orderBy("year", "month").show()

26/01/29 15:32:13 WARN Utils: Your hostname, neliN resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
26/01/29 15:32:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/home/neli/.local/share/mamba/envs/data-engineering/lib/python3.9/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/neli/.ivy2/cache
The jars for the packages stored in: /home/neli/.ivy2/jars
org.apache.hadoop#hadoop-aws added as a dependency
com.amazonaws#aws-java-sdk-bundle added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-31180882-5141-453a-acf7-dec9edae1339;1.0
	confs: [default]
	found org.apache.hadoop#hadoop-aws;3.3.4 in central
	found com.amazonaws#aws-java-sdk-bundle;1.12.262 in central
	found org.wildfly.openssl#wildfly-openssl;1.0.7.Final in central
downloading https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.3.4/hadoop-aws-3.3.4.jar ...
	[SUCCESSFUL ] org.apache.hadoop#hadoop-aws;3.3.4!hadoop-aws.jar (64ms)
downloading https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.12.262/aws-java-sdk-bundle-1.12.262.jar ...
	[SUCCESSFUL ] com.amazonaws#aws-java-sdk-bundle;1.12.262!aws-java-sdk-bundle.jar (8441ms)
downloading https://repo1.maven.org/maven2/org/wildfly/openssl/wildfly-openssl/1.0.7.Final/wildfly-openssl-1.0.7.Final.jar ...
	[SUCCESSFUL ] org.wildfly.openssl#wildfly-openssl;1.0.7.Final!wildfly-openssl.jar (48ms)
:: resolution report :: resolve 2240ms :: artifacts dl 8556ms
	:: modules in use:
	com.amazonaws#aws-java-sdk-bundle;1.12.262 from central in [default]
	org.apache.hadoop#hadoop-aws;3.3.4 from central in [default]
	org.wildfly.openssl#wildfly-openssl;1.0.7.Final from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   3   |   3   |   3   |   0   ||   3   |   3   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-31180882-5141-453a-acf7-dec9edae1339
	confs: [default]
	3 artifacts copied, 0 already retrieved (275421kB/429ms)
26/01/29 15:32:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/29 15:32:29 WARN MetricsConfig: Cannot locate configuration: tried hadoop-metrics2-s3a-file-system.properties,hadoop-metrics2.properties

Total rows found: 47248845
root
 |-- vendorid: string (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- ratecodeid: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- dropoff_latitude: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- processed_at: timestamp (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+----+-----+
|vendorid|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|   pickup_longitude|   pickup_latitude|ratecodeid|store_and_fwd_flag|  dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|        processed_at|year|month|
+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+----+-----+
|       2| 2015-01-15 20:05:39|  2015-01-15 19:23:42|              1|         1.59|   -73.993896484375|40.750110626220703|         1|                 N|-73.974784851074219|40.750617980957031|           1|         12|    1|    0.5|      3.25|           0|                  0.3|       17.05|2026-01-29 15:17:...|2015|    1|
|       2| 2015-01-03 02:16:51|  2015-01-03 01:29:40|              2|         3.59|-74.013946533203125|40.713901519775391|         1|                 N|-73.983650207519531|40.735031127929688|           1|         13|  0.5|    0.5|       2.7|           0|                  0.3|          17|2026-01-29 15:17:...|2015|    1|
|       1| 2015-01-10 21:33:38|  2015-01-10 20:53:28|              1|         3.30| -74.00164794921875|  40.7242431640625|         1|                 N|-73.994415283203125|40.759109497070313|           1|       14.5|  0.5|    0.5|         2|           0|                  0.3|        17.8|2026-01-29 15:17:...|2015|    1|
|       2| 2015-01-03 02:16:51|  2015-01-03 01:29:30|              1|         4.44| -73.97015380859375|40.756439208984375|         1|                 N|-73.964569091796875|40.804161071777344|           1|       14.5|  0.5|    0.5|         2|           0|                  0.3|        17.8|2026-01-29 15:17:...|2015|    1|
|       1| 2015-01-10 21:33:38|  2015-01-10 20:43:41|              1|         1.80|-73.963340759277344|40.802787780761719|         1|                 N|-73.951820373535156|40.824413299560547|           2|        9.5|  0.5|    0.5|         0|           0|                  0.3|        10.8|2026-01-29 15:17:...|2015|    1|
|       2| 2015-01-03 02:16:51|  2015-01-03 01:24:45|              1|         2.94| -73.99383544921875|  40.7210693359375|         1|                 N|-73.943916320800781| 40.71197509765625|           1|       10.5|  0.5|    0.5|       2.2|           0|                  0.3|          14|2026-01-29 15:17:...|2015|    1|
|       1| 2015-01-10 21:33:39|  2015-01-10 20:35:31|              1|          .50|-74.009086608886719|40.713817596435547|         1|                 N|-74.004325866699219|40.719985961914063|           2|        3.5|  0.5|    0.5|         0|           0|                  0.3|         4.8|2026-01-29 15:17:...|2015|    1|
|       2| 2015-01-03 02:16:51|  2015-01-03 01:24:50|              4|         1.38|-73.987831115722656|40.738216400146484|         1|                 N|-74.006309509277344|40.733360290527344|           2|        7.5|  0.5|    0.5|         0|           0|                  0.3|         8.8|2026-01-29 15:17:...|2015|    1|
|       1| 2015-01-10 21:33:39|  2015-01-10 20:52:58|              1|         3.00|-73.971176147460938|40.762428283691406|         1|                 N|-74.004180908203125|40.742652893066406|           2|         15|  0.5|    0.5|         0|           0|                  0.3|        16.3|2026-01-29 15:17:...|2015|    1|
|       1| 2015-01-03 02:16:52|  2015-01-03 01:23:26|              1|         1.30|-74.005325317382812|40.719547271728516|         1|                 N|-74.003746032714844|40.736660003662109|           1|        6.5|  0.5|    0.5|       1.5|           0|                    0|         9.3|2026-01-29 15:17:...|2015|    1|
+--------+--------------------+---------------------+---------------+-------------+-------------------+------------------+----------+------------------+-------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+----+-----+
only showing top 10 rows

+----+-----+--------+
|year|month|   count|
+----+-----+--------+
|2015|    1|12748986|
|2016|    1|10906858|
|2016|    2|11382049|
|2016|    3|12210952|
+----+-----+--------+

In [2]:
# Take a random 0.1% sample or just the first 10,000 rows
pandas_df = df.limit(10000).toPandas()

# Now you can use all your favorite Pandas functions
print(pandas_df.info())
pandas_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               10000 non-null  object
 1   tpep_pickup_datetime   10000 non-null  datetime64[ns]
 2   tpep_dropoff_datetime  10000 non-null  object
 3   passenger_count        10000 non-null  object
 4   trip_distance          10000 non-null  object
 5   pickup_longitude       10000 non-null  object
 6   pickup_latitude        10000 non-null  object
 7   ratecodeid             10000 non-null  object
 8   store_and_fwd_flag     10000 non-null  object
 9   dropoff_longitude      10000 non-null  object
 10  dropoff_latitude       10000 non-null  object
 11  payment_type           10000 non-null  object
 12  fare_amount            10000 non-null  object
 13  extra                  10000 non-null  object
 14  mta_tax                10000 non-null  object
 15  tip_amount             10000 non-null  object
 16  tolls_amount           10000 non-null  object
 17  improvement_surcharge  10000 non-null  object
 18  total_amount           10000 non-null  object
 19  processed_at           10000 non-null  datetime64[ns]
 20  year                   10000 non-null  int32
 21  month                  10000 non-null  int32
dtypes: datetime64[ns](2), int32(2), object(18)
memory usage: 1.6+ MB
None

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,ratecodeid,store_and_fwd_flag,dropoff_longitude,...,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,processed_at,year,month
0,2,2015-01-15 20:05:39,2015-01-15 19:23:42,1,1.59,-73.993896484375,40.750110626220703,1,N,-73.974784851074219,...,12,1,0.5,3.25,0,0.3,17.05,2026-01-29 15:17:40.560717,2015,1
1,2,2015-01-03 02:16:51,2015-01-03 01:29:40,2,3.59,-74.013946533203125,40.713901519775391,1,N,-73.983650207519531,...,13,0.5,0.5,2.7,0,0.3,17,2026-01-29 15:17:40.560717,2015,1
2,1,2015-01-10 21:33:38,2015-01-10 20:53:28,1,3.30,-74.00164794921875,40.7242431640625,1,N,-73.994415283203125,...,14.5,0.5,0.5,2,0,0.3,17.8,2026-01-29 15:17:40.560717,2015,1
3,2,2015-01-03 02:16:51,2015-01-03 01:29:30,1,4.44,-73.97015380859375,40.756439208984375,1,N,-73.964569091796875,...,14.5,0.5,0.5,2,0,0.3,17.8,2026-01-29 15:17:40.560717,2015,1
4,1,2015-01-10 21:33:38,2015-01-10 20:43:41,1,1.80,-73.963340759277344,40.802787780761719,1,N,-73.951820373535156,...,9.5,0.5,0.5,0,0,0.3,10.8,2026-01-29 15:17:40.560717,2015,1

In [3]:
from pyspark.sql import functions as F

# 1. Find the absolute Minimum and Maximum dates in the actual timestamp column
date_range = df.select(
    F.min("tpep_pickup_datetime").alias("earliest_record"),
    F.max("tpep_pickup_datetime").alias("latest_record")
).toPandas()

print("--- RAW TIMESTAMP RANGE ---")
print(date_range)

# 2. Extract the Year and Month DIRECTLY from the timestamp column 
# (Ignoring your folder names/partitions)
true_distribution = df.withColumn("true_year", F.year("tpep_pickup_datetime")) \
                      .withColumn("true_month", F.month("tpep_pickup_datetime")) \
                      .groupBy("true_year", "true_month") \
                      .count() \
                      .orderBy("true_year", "true_month")

print("\n--- ACTUAL DATA DISTRIBUTION ---")
print(true_distribution.toPandas())

--- RAW TIMESTAMP RANGE ---
      earliest_record       latest_record
0 2015-01-01 01:00:00 2016-04-01 01:59:59

--- ACTUAL DATA DISTRIBUTION ---

   true_year  true_month     count
0       2015           1  12719130
1       2015           2     29856
2       2016           1  10897600
3       2016           2  11379693
4       2016           3  12176050
5       2016           4     46516

In [7]:
import pandas as pd
import s3fs

# 1. Setup MinIO Connection (No Spark needed)
endpoint_url = "http://localhost:9000"
key = "minioadmin"
secret = "minioadmin"

# Create the filesystem object
fs = s3fs.S3FileSystem(
    client_kwargs={'endpoint_url': endpoint_url},
    key=key,
    secret=secret
)

# 2. Define the paths to the "Missing" data in your processed bucket
# We are going to try and read the files directly from the folders
paths = [
    "s3://processed-data/nyc_taxi/year=2015/month=2/",
    "s3://processed-data/nyc_taxi/year=2016/month=4/"
]

print("--- DIRECT PANDAS READ ---")

for path in paths:
    try:
        # We use 'fs' to list the files and read the first one found
        files = fs.ls(path)
        if not files:
            print(f"Empty: No files found in {path}")
            continue
            
        # Read just the first file in that folder into a Pandas DF
        # We only take 10 rows (nrows doesn't work for parquet, so we head(10))
        df = pd.read_parquet(f"s3://{files[0]}", filesystem=fs)
        
        print(f"\nFolder: {path}")
        print(df[['tpep_pickup_datetime', 'vendorid', 'total_amount']].head(10))
        
    except Exception as e:
        print(f"Error reading {path}: {e}")

ModuleNotFoundError: No module named 's3fs'